.example-container {
    width: 250px;
    height: -webkit-fill-available;
}

.example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #424242;
}

.example-sidenav {
    padding: 20px;
    width: 240px;
}

.mat-drawer-container {
    background: none !important;
    color: #fff;
    position: absolute;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    width: 40px;
    align-items: flex-start;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

svg {
    width: 20px;
    height: 20px;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background: #424242;
    color: #fff;
}